
header {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
    padding: 39px 10px 0;
    position: fixed;
    z-index: 1000;
}

.nav-green-color {
    background-color: #d6ebe4;
}

.nav-gray-color {
    background-color: #ececec;
}

.nav-darkBlue-color {
    background-color: #1d263a;
}

.header-container {
    width: 100%;
    max-width: 1240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.teamify-img {
    width: 91px;
    height: 24px;
}

.nav {
    max-width: 541px;
    width: 100%;
}

.nav > ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav-link-dark-color {
    color: #262729;
}

.nav-link-white-color {
    color: #fff;
}

.nav-link {
    height: 30px;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.76;
    text-align: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}

.nav-link:hover {
    border-bottom: solid 1px rgba(165, 164, 164, 0.644);
}

.hr-dark-border {
    border: solid 1px #1d263a;
}

.hr-white-border {
    border: solid 1px #cbcbcb;
}

.hr {
    max-width: 1240px;
    width: 100%;
    height: 1px;
    margin: 28px 0 0;
    transform: rotate(0deg);
    opacity: 0.15;
}

.burger-menu {
    display: none;
}


@media only screen and (max-width: 768px) {
    .nav {
        display: none;
    }

    .burger-menu {
        display: flex;
        flex-direction: column;
    }

    .closed-burger-nav {
        position: fixed;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        top: 0;
        left: 0;
        z-index: 1000;
        align-items: center;
        margin-top: 99px;
        transform: translateX(100%);
        transition: ease-in-out 0.4s;
    }

    .opened-burger-nav {
        position: fixed;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        top: 0;
        left: 0;
        z-index: 1000;
        align-items: center;
        margin-top: 99px;
        transform: translateX(0);
        transition: ease-in-out 0.4s;
    }
    
    .burger-menu > nav > ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
    }

    .nav-link {
        text-align: center;
        width: 100%;
        font-size: 17px;
        font-weight: bold;
        line-height: 1.76;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin: 40px 0 0;
        border-bottom: solid 1px rgba(165, 164, 164, 0.644);
    }
    
    .burger {
        filter: invert(50%);
        height: 30px;
    }
}