
header {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
    padding: 39px 10px 0;
    position: fixed;
    z-index: 1000;
}

.header-green-color {
    background-color: #d6ebe4;
}

.header-gray-color {
    background-color: #ececec;
}

.header-container {
    width: 100%;
    max-width: 1240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.teamify-img {
    width: 91px;
    height: 24px;
    object-fit: contain;
}

.nav {
    max-width: 541px;
    width: 100%;
}

.nav > ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav-link {
    height: 30px;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.76;
    text-align: right;
    color: #262729;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}

header > hr {
    max-width: 1240px;
    width: 100%;
    height: 1px;
    margin: 28px 0 0;
    transform: rotate(0deg);
    opacity: 0.15;
    border: solid 1px #1d263a;
}

.burger-menu {
    display: none;
}


@media only screen and (max-width: 768px) {
    .nav {
        display: none;
    }

    .burger-menu {
        display: flex;
        flex-direction: column;
    }

    .closed-burger-nav {
        position: fixed;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        top: 0;
        left: 0;
        z-index: 1000;
        align-items: center;
        margin-top: 99px;
        background-color: #d6ebe4;
        transform: translateX(100%);
        transition: ease-in-out 0.4s;
    }

    .opened-burger-nav {
        position: fixed;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        top: 0;
        left: 0;
        z-index: 1000;
        align-items: center;
        margin-top: 99px;
        background-color: #d6ebe4;
        transform: translateX(0);
        transition: ease-in-out 0.4s;
    }
    
    .burger-menu > nav > ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
    }

    .nav-link {
        font-size: 17px;
        font-weight: bold;
        line-height: 1.76;
        color: #262729;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin: 40px 0 0;
    }
    
    .burger {
        filter: invert();
        height: 30px;
    }
}